.states-container {
  width: 100%;

  .header-content {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url("./bg.jpeg");
    background-size: cover;

    .home-sloy {
      background-color: rgba(0, 0, 0, 0.6);
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      width: 100%;
      height: 100%;

      .navbar_box {
        width: 100%;
      }

      .home_contents {
        height: calc(100% - 65px);
        display: flex;
        align-items: center;
        width: 100%;

        .left_side {
          height: 100%;
          width: 60%;
          display: flex;
          align-items: center;
          padding-left: 8%;

          .top-text {
            width: max-content;
            position: relative;
            height: 30px;
            padding-right: 10px;
            padding-left: 10px;
            color: white;
            display: flex;
            align-items: center;
            background-color: rgba(4, 28, 55, 0.5);
            font-size: 14px;

            &:before {
              content: '';
              position: absolute;
              background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
              left: 0;
              top: 0;
              height: 100%;
              width: 5px;
            }
          }

          .text-large {
            display: flex;
            align-items: center;
            width: 100%;

            color: white;
            font-weight: 700;
            font-size: 60px;

            p {
              text-shadow: 4px 3px 7px rgba(0, 0, 0, 0.8);
              margin-right: 10px
            }
          }

          .des-text {
            width: 80%;
            margin-top: 10px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24.32px;
            color: white;
            font-family: "Krub", sans-serif;
          }

          .buttons-home {
            display: flex;
            margin-top: 35px;

            a {
              text-decoration: none;
            }

            .button-home {
              width: 190px;
              height: 60px;
              display: flex;
              justify-content: center;
              align-items: center;
              border: none;
              color: white;
              background-color: #B31942;
              margin-right: 15px;
              transition: 0.3s;

              &:hover {
                background-color: #6a122d;
              }
            }
          }
        }

        .right_side {
          height: 100%;
          width: 40%;
        }
      }
    }
  }

  .delivery-container {
    width: 100%;
    margin-top: 80px;
    padding-right: 8%;
    padding-left: 8%;

    .main-title {
      width: max-content;
      color: rgba(28, 31, 53, 1);
      font-weight: 400;
      font-size: 14px;
      background-color: rgba(232, 232, 232, 0.5);
      position: relative;
      padding-left: 10px;
      padding-right: 10px;
      border-top: 3px solid #B31942;
    }

    .title {
      width: 100%;
      margin-top: 15px;
      color: rgba(28, 31, 53, 1);
      font-weight: 600;
      font-size: 35px;
      line-height: 41.48px;
      display: flex;
      justify-content: space-between;

      .title-left {
        width: 100%;
      }
    }

    .contents {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;

      .content {
        width: 23%;

        &:hover {
          .img {
            img {
              filter: grayscale(0%);
            }
          }
        }

        .img {
          width: 100%;
          height: 400px;
          border: 2px solid #000E20;
          border-radius: 15px;
          overflow: hidden;


          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(100%);
            transition: 0.3s linear;

          }
        }

        .title {
          margin-top: 15px;
          font-size: 24px;
          font-weight: 600;
          line-height: 36px;
          letter-spacing: 0.12px;
          color: rgba(23, 23, 23, 1);
        }

        .des {
          margin-top: 15px;
          font-size: 14px;
          font-weight: 400;
          line-height: 35px;
          letter-spacing: 0.12px;
          color: rgba(23, 23, 23, 1);
        }
      }
    }

    .more-btn {
      margin: 30px auto;
      border-radius: 32px;
      border: 1px solid rgba(0, 0, 0, 1);
      width: 300px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;

      &:hover {
        background-color: black;
        color: white;
      }

      cursor: pointer;
    }
  }

  .states {
    width: 100%;
    margin-top: 80px;
    padding-right: 8%;
    padding-left: 8%;

    .title {
      font-family: "Rubik", sans-serif;
      font-size: 35px;
      font-weight: 600;
      line-height: 41.48px;
    }

    .des {
      margin-top: 20px;
      font-family: "Krub", sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 24.32px;
      text-align: left;
      color: rgba(102, 108, 137, 1);
    }

    .state-box {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      p {
        width: max-content;
        padding: 3px;
        margin-top: 15px;
        margin-right: 40px;
        color: #6a122d;
        cursor: pointer;
        font-size: 18px;
      }
    }
  }

  .partners {
    margin-top: 80px;
    padding-left: 12%;
    padding-right: 12%;
    margin-bottom: 100px;

    .slick-slider {
      width: 100%;
      position: relative;

      .slick-prev {
        display: none !important;
      }

      .slick-next {
        display: none !important;
      }

      .slick-list {
        width: 100%;

        .slick-track {
          width: 100%;
          height: 100%;

          .slick-slide {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .logo {
              width: 150px;
              height: 150px;
              padding: 10px;
              margin: 0 auto !important;
              display: flex !important;
              align-items: center !important;

              img {
                width: 100px;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .states-container {
    width: 100%;

    .header-content {
      width: 100%;
      height: 300px;

      .home-sloy {
        background-color: rgba(30, 36, 44, 0.5);
        width: 100%;
        height: 100%;

        .home_contents {
          height: auto;
          display: block;
          align-items: center;
          width: 100%;

          .left_side {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            padding-left: 4%;
            padding-right: 4%;
            padding-top: 20px;

            .top-text {
              font-size: 12px;
            }

            .text-large {
              margin-top: 10px;
              font-weight: 700;
              font-size: 35px;
            }

            .des-text {
              width: 100%;
              margin-top: 0px;
              font-size: 14px;
            }

            .buttons-home {
              width: 100%;
              justify-content: space-between;
              display: flex;
              margin-top: 35px;

              .button-home {
                width: 160px;
                height: 50px;
                margin-right: 15px;
              }
            }
          }

          .right_side {
            display: none;
          }
        }
      }
    }

    .delivery-container {
      width: 100%;
      margin-top: 60px;
      padding-right: 6%;
      padding-left: 6%;

      .title {
        font-size: 25px;
        line-height: 30.48px;
      }

      .contents {
        margin-top: 10px;
        flex-wrap: wrap;

        .content {
          margin-top: 20px;
          width: 49%;

          .img {
            width: 100%;
            height: 260px;

            img {
              filter: grayscale(0%);
            }
          }

          .title {
            font-size: 22px;
            font-weight: 600;
            line-height: 30px;
          }

          .des {
            margin-top: 10px;
            font-size: 14px;
            font-weight: 400;
            line-height: 25px;
            color: rgba(23, 23, 23, 1);
          }
        }
      }
    }

    .states {
      width: 100%;
      margin-top: 80px;
      padding-right: 8%;
      padding-left: 8%;

      .title {
        font-family: "Rubik", sans-serif;
        font-size: 35px;
        font-weight: 600;
        line-height: 41.48px;
      }

      .des {
        margin-top: 20px;
        font-family: "Krub", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24.32px;
        text-align: left;
        color: rgba(102, 108, 137, 1);
      }

      .state-box {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .state {
          width: max-content;
          padding: 3px;
          margin-top: 15px;
          margin-right: 40px;
          color: rgba(244, 168, 80, 1);
          cursor: pointer;
          font-size: 18px;
        }
      }
    }

    .partners {
      margin-top: 80px;
      padding-left: 0%;
      padding-right: 0%;
      margin-bottom: 50px;

      .slick-slider {
        .slick-list {
          .slick-track {
            .slick-slide {
              .logo {
                width: 100px;
                height: 100px;

                img {
                  width: 80px;
                  object-fit: cover;
                }
              }
            }
          }
        }
      }
    }

    .reviews-container {
      width: 100%;
      margin-top: 60px;
      padding-right: 6%;
      padding-left: 6%;

      .title {
        width: 70%;
        font-size: 25px;
        line-height: 30.48px;
      }

      .slider-box-reviews {
        margin-bottom: 0;

        .slick-slider {
          width: 100%;
          position: relative;

          .slick-prev {
            top: -50px;
            left: 77%;
            width: 35px;
            height: 35px;
          }

          .slick-next {
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }
}