.about-us-container {
  width: 100%;

  .header-content {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url("./bg.jpeg");
    background-size: cover;

    .home-sloy {
      background-color: rgba(0, 0, 0, 0.6);
      -webkit-backdrop-filter: blur(4px);
      backdrop-filter: blur(4px);
      width: 100%;
      height: 100%;

      .navbar_box {
        width: 100%;
      }

      .home_contents {
        height: calc(100% - 65px);
        display: flex;
        align-items: center;
        width: 100%;

        .left_side {
          height: 100%;
          width: 80%;
          display: flex;
          align-items: center;
          padding-left: 8%;

          .top-text {
            width: max-content;
            position: relative;
            height: 30px;
            padding-right: 10px;
            padding-left: 10px;
            color: white;
            display: flex;
            align-items: center;
            background-color: rgba(4, 28, 55, 0.5);
            font-size: 14px;

            &:before {
              content: '';
              position: absolute;
              background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
              left: 0;
              top: 0;
              height: 100%;
              width: 5px;
            }
          }

          .text-large {
            display: flex;
            align-items: center;
            width: 100%;

            color: white;
            font-weight: 700;
            font-size: 50px;

            p {
              text-shadow: 4px 3px 7px rgba(0, 0, 0, 0.8);
              margin-right: 10px
            }
          }

          .des-text {
            width: 80%;
            margin-top: 10px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24.32px;
            color: white;
            font-family: "Krub", sans-serif;
          }

          .buttons-home {
            display: flex;
            margin-top: 35px;

            a {
              text-decoration: none;
            }

            .button-home {
              width: 190px;
              height: 60px;
              display: flex;
              justify-content: center;
              align-items: center;
              border: none;
              color: white;
              background-color: #B31942;
              margin-right: 15px;
              transition: 0.3s;

              &:hover {
                background-color: #85183b;
              }
            }
          }
        }

        .right_side {
          height: 100%;
          width: 20%;
        }
      }
    }
  }

  .section-why-us {
    margin-top: 80px;
    width: 100%;
    height: auto;
    background-image: url("./images/about-us2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding-top: 10%;

    .content-info {
      margin: 0 auto;
      width: 80%;
      height: 80%;
      background-color: white;
      display: flex;
      align-items: center;

      .side {
        width: 50%;
        height: 100%;
        padding: 50px;
        margin-bottom: 100px;

        .main-title {
          width: max-content;
          color: rgba(28, 31, 53, 1);
          font-weight: 400;
          font-size: 14px;
          background-color: rgba(232, 232, 232, 0.5);
          position: relative;
          padding-left: 10px;
          padding-right: 10px;

          &:before {
            content: '';
            position: absolute;
            background: linear-gradient(94.06deg, #FFB629 -1.21%, #FFDA56 58.66%, #FFD7A6 116.84%);
            left: 0;
            top: 0;
            height: 100%;
            width: 5px;
          }
        }

        .title {
          margin-top: 15px;
          color: rgba(28, 31, 53, 1);
          font-weight: 600;
          font-size: 26px;
          line-height: 41.48px;
        }

        .des {
          font-family: "Krub", sans-serif;
          margin-top: 15px;
          font-size: 16px;
          font-weight: 500;
          line-height: 24.24px;
          color: rgba(102, 108, 137, 1);
          margin-bottom: 25px;
        }

        .info {
          margin-top: 15px;
          display: flex;
          align-items: center;

          img {
            width: 50px;
            margin-right: 10px;
          }

          .name {
            font-family: "Rubik", sans-serif;
            font-size: 22px;
            font-weight: 400;
            line-height: 29.63px;
          }
        }

        .main-images {
          width: 461px;
          height: 417px;
          position: relative;
          background-color: #8C8C8C;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }

          .image {
            width: 370px;
            height: 300px;
            position: absolute;
            left: -150px;
            bottom: -150px;
            background-color: white;
            padding: 30px;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }

  .partners {
    margin-top: 80px;
    padding-left: 12%;
    padding-right: 12%;
    margin-bottom: 100px;

    .slick-slider {
      width: 100%;
      position: relative;

      .slick-prev {
        display: none !important;
      }

      .slick-next {
        display: none !important;
      }

      .slick-list {
        width: 100%;

        .slick-track {
          width: 100%;
          height: 100%;

          .slick-slide {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .logo {
              width: 150px;
              height: 150px;
              padding: 10px;
              margin: 0 auto !important;
              display: flex !important;
              align-items: center !important;

              img {
                width: 100px;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }

  .counter {
    margin-top: 80px;
    padding-left: 8%;
    padding-right: 8%;
    width: 100%;
    height: 210px;
    background-color: rgba(30, 36, 44, 1);
    display: flex;
    align-items: center;

    .title {
      width: 40%;
      color: white;
      font-family: "Rubik", sans-serif;
      font-size: 36px;
      font-weight: 600;
      line-height: 42.66px;
      letter-spacing: 0.12px;
      text-align: left;

    }

    .counts {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .count {
        .num {
          color: #B31942;
          font-size: 36px;
          font-weight: 600;
          line-height: 42.66px;
          letter-spacing: 0.12px;
        }

        .text {
          font-size: 18px;
          font-weight: 400;
          line-height: 35px;
          letter-spacing: 0.12px;
          color: white;
          margin-top: 15px;
        }
      }
    }
  }

  .what-we-do {
    margin-top: 80px;
    padding: 60px 8% 60px 8%;
    background-color: rgba(244, 244, 244, 1);

    .main-title {
      margin: 0 auto;
      width: max-content;
      color: rgba(28, 31, 53, 1);
      font-weight: 400;
      font-size: 14px;
      background-color: rgba(232, 232, 232, 0.5);
      position: relative;
      padding-left: 10px;
      padding-right: 10px;
      border-top: 3px solid #B31942;
    }

    .title {
      text-align: center;
      margin-top: 15px;
      color: rgba(28, 31, 53, 1);
      font-weight: 600;
      font-size: 35px;
      line-height: 41.48px;
    }

    .content-box {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      .content {
        width: 29%;
        margin-top: 40px;

        .icon {
          img {
            width: 60px;
          }
        }

        .title {
          text-align: start;
          margin-top: 15px;
          font-family: "Rubik", sans-serif;
          font-size: 25px;
          font-weight: 400;
          line-height: 29.63px;
          color: rgba(28, 31, 53, 1);
        }

        .des {
          margin-top: 15px;
          font-family: "Krub", sans-serif;
          font-size: 16px;
          font-weight: 500;
          line-height: 24.24px;
          text-align: left;
          color: rgba(102, 108, 137, 1);
        }
      }
    }
  }

}


@media (max-width: 768px) {
  .about-us-container {
    width: 100%;

    .header-content {
      width: 100%;
      height: 300px;

      .home-sloy {
        background-color: rgba(30, 36, 44, 0.5);
        width: 100%;
        height: 100%;

        .home_contents {
          height: auto;
          display: block;
          align-items: center;
          width: 100%;

          .left_side {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            padding-left: 4%;
            padding-right: 4%;
            padding-top: 20px;

            .top-text {
              font-size: 12px;
            }

            .text-large {
              font-weight: 700;
              font-size: 26px;
            }

            .des-text {
              width: 100%;
              margin-top: 0px;
              font-size: 14px;
            }

            .buttons-home {
              width: 100%;
              justify-content: space-between;
              display: flex;
              margin-top: 35px;

              .button-home {
                width: 160px;
                height: 50px;
                margin-right: 0px;
              }
            }
          }

          .right_side {
            display: none;
          }
        }
      }
    }

    .section-why-us {
      margin-top: 80px;
      width: 100%;
      height: auto;
      background-image: url("./images/about-us2.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
      padding-top: 10%;

      .content-info {
        margin: 0 auto;
        width: 90%;
        height: 100%;
        display: block;

        .side {
          width: 100%;
          height: 50%;
          padding: 20px;
          margin-bottom: 10px;

          .title {
            text-align: center;
            margin-top: 0px;
            font-size: 20px;
            line-height: 30.48px;
          }

          .info {
            margin-top: 15px;
            display: flex;
            align-items: center;

            img {
              width: 40px;
              margin-right: 10px;
              object-fit: cover;
            }

            .name {
              font-size: 18px;
              font-weight: 400;
              line-height: 29.63px;
            }
          }

          .main-images {
            width: 100%;
            height: 230px;

            .image {
              width: 260px;
              height: 200px;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              bottom: -100px;
              padding: 10px;
            }
          }
        }
      }
    }

    .partners {
      margin-top: 80px;
      padding-left: 0%;
      padding-right: 0%;
      margin-bottom: 50px;

      .slick-slider {
        .slick-list {
          .slick-track {
            .slick-slide {
              .logo {
                width: 100px;
                height: 100px;

                img {
                  width: 80px;
                  object-fit: cover;
                }
              }
            }
          }
        }
      }
    }

    .counter {
      margin-top: 130px;
      padding: 20px 8%;
      width: 100%;
      height: auto;
      display: block;

      .title {
        width: 100%;
        font-size: 26px;
        line-height: 30.66px;
        text-align: center;
      }

      .counts {
        width: 100%;
        display: block;

        .count {
          margin-top: 20px;

          .num {
            margin-top: 30px;
            text-align: center;
          }

          .text {
            text-align: center;
            font-size: 16px;
          }
        }
      }
    }

    .what-we-do {
      margin-top: 60px;
      padding: 60px 6% 60px 6%;

      .title {
        font-size: 25px;
        line-height: 30.48px;
      }

      .content-box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;

        .content {
          width: 100%;

          .icon {
            width: max-content;
            margin: 0 auto;

            img {
              width: 60px;
            }
          }

          .title {
            text-align: center;
            font-size: 22px;
          }

          .des {
            text-align: center;
          }
        }
      }
    }

    .reviews-container {
      width: 100%;
      margin-top: 60px;
      padding-right: 6%;
      padding-left: 6%;

      .title {
        width: 70%;
        font-size: 25px;
        line-height: 30.48px;
      }

      .slider-box-reviews {
        margin-bottom: 0;

        .slick-slider {
          width: 100%;
          position: relative;

          .slick-prev {
            top: -50px;
            left: 77%;
            width: 35px;
            height: 35px;
          }

          .slick-next {
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }
}