.reviews-container {
  width: 100%;
  margin-top: 80px;
  padding-right: 8%;
  padding-left: 8%;

  .main-title {
    width: max-content;
    color: rgba(28, 31, 53, 1);
    font-weight: 400;
    font-size: 14px;
    background-color: rgba(232, 232, 232, 0.5);
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 3px solid #B31942;
  }

  .title {
    width: 100%;
    margin-top: 15px;
    color: rgba(28, 31, 53, 1);
    font-weight: 600;
    font-size: 35px;
    line-height: 41.48px;
  }

  .slider-box-reviews {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;

    .slick-slider {
      width: 100%;
      position: relative;

      .slick-prev {
        position: absolute !important;
        left: 92%;
        top: -47px;
        z-index: 100;
        width: 40px;
        height: 40px;
        background-image: url("./images/arrow.png");
        background-color: #B31942;
        border-radius: 10%;
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.3s linear;

        &:before {
          display: none;
        }

        &:hover {
          background-color: black;
          background-image: url("./images/arrow.png");
        }
      }

      .slick-next {
        position: absolute !important;
        right: 0;
        top: -68px;
        z-index: 100;
        width: 40px;
        height: 40px;
        transform: rotate(180deg);
        background-image: url("./images/arrow.png");
        background-color: #B31942;
        border-radius: 10%;
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.3s linear;

        &:before {
          display: none;
        }

        &:hover {
          background-color: black;
          background-image: url("./images/arrow.png");
        }
      }

      .slick-list {
        width: 100%;

        .slick-track {
          width: 100%;
          height: 100%;

          .slick-slide {
            width: 100%;
            height: 100%;

            .review {
              width: 400px;
              height: 320px;
              padding: 10px;

              .content {
                border-top: 8px dashed white;
                width: 100%;
                height: 100%;
                background-color: rgb(244, 211, 205);
                padding: 25px;
                transition: 0.3s linear;
                border-radius: 0 0 15px 15px;

                &:hover {
                  background-color: #B31942;
                  color: white;

                  .footer-reviews {
                    .link {
                      a{
                        color: white!important;
                      }

                    }
                  }
                }

                .header {
                  width: 100%;
                  height: max-content;
                  display: flex;
                  justify-content: space-between;

                  .left {
                    display: flex;
                    align-items: center;

                    .person-img {
                      width: 60px;
                      height: 60px;
                      border-radius: 50%;
                      overflow: hidden;
                      margin-right: 15px;

                      img {
                        width: 100%;
                        height: 100%;
                      }
                    }

                    .name {
                      font-family: "Krub", sans-serif;
                      font-size: 16px;
                      font-weight: 500;

                      .name-user {
                        font-family: "Rubik", sans-serif;
                        font-size: 18px;
                        font-weight: 500;
                      }
                    }
                  }

                  .google {
                    width: 90px;
                    height: 90px;

                    img {
                      width: 100%;
                    }
                  }
                }

                .des {
                  padding-right: 10px;
                  margin-top: 5px;
                  font-family: "Krub", sans-serif;
                  font-size: 14px;
                  font-style: italic;
                  font-weight: 500;
                  line-height: 21.28px;
                  height: 45%;
                  overflow-y: auto;

                  &::-webkit-scrollbar {
                    width: 5px;
                    height: 10px;
                    border-radius: 20px;
                  }

                  &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                  }

                  &::-webkit-scrollbar-thumb {
                    border-radius: 20px;
                    background-color: gray;
                  }
                }

                .footer-reviews {
                  display: flex;
                  align-items: flex-end;
                  justify-content: space-between;

                  .stars {
                    display: flex;
                    margin-top: 15px;

                    img {
                      width: 30px;
                      margin-right: 10px;
                    }
                  }

                  .link {
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .reviews-container {
    width: 100%;
    margin-top: 60px;
    padding-right: 6%;
    padding-left: 6%;

    .title {
      width: 70%;
      font-size: 25px;
      line-height: 30.48px;
    }

    .slider-box-reviews {
      margin-bottom: 0;

      .slick-slider {
        width: 100%;
        position: relative;

        .slick-prev {
          top: -50px;
          left: 77%;
          width: 35px;
          height: 35px;
        }

        .slick-next {
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}